@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

/* 전체 선택자 css 기본값을 초기화 하거나 기본값을 지정할때 사용. 모든 코드 페이지를 로딩하는 속성이니 자주 사용하면 당연히 느려짐. 남용하지말것. */
*{
    box-sizing: border-box;
}

body{
    background-color:#ffffff;
    padding: 10px 20px;
    color:#020202;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* color: inherit ==> 부모요소의 색을 받아온다 */
a {
    color: inherit;
    text-decoration: none;
}